<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <header>
        <div class="wrapper">

            <aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
                <a href="/" class="brand-link">
                    <img src="dist/images.jpg" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Invoice</span>
                </a>      

                <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active mx-2" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab"
                        aria-controls="v-pills-home" aria-selected="true">
                                    <i class="fas fa-file-invoice fa-lg mx-2"></i>
                        <h6 class="list-inline-item mx-1" style="size: 30px;">Invoicelar</h6>
                    </a>

                    <a class="nav-link mx-2" id="v-pills-profile-tab" data-toggle="pill" href="#" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false"> 
                                    <i class="fas fa-warehouse mx-2"></i>
                        <h6 class="list-inline-item mx-1" style="size: 30px;">Korxonalar</h6>
                    </a>

                    <a class="nav-link mx-2" id="v-pills-messages-tab" data-toggle="pill" href="#" role="tab"
                    
                        aria-controls="v-pills-messages" aria-selected="false">
                                    <i class="fas fa-id-card-alt mx-2"></i>
                        <h6 class="list-inline-item mx-1" style="size: 30px;">Kantaktlar</h6>
                    </a>

                    <a class="nav-link mx-2" id="v-pills-settings-tab" data-toggle="pill" href="#" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">
                                    <i class="fas fa-chart-pie mx-2"></i>
                        <h6 class="list-inline-item mx-1" style="size: 30px;">Statistika</h6>
                    </a>
                </div>

            </aside>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/adminlte.js"></script>

    <script src="dist/js/demo.js"></script>
    <script src="dist/js/pages/dashboard3.js"></script>
</body>

</html>
