@model webapp.ViewModel.RegisterViewModel;

@{
  Layout = "_AuthLayout";
}
<form class="d-flex justify-content-center form-signin" method="post" asp-action="Register" asp-controller="Account">
  <div class="login-box" style="margin-top:70px;">
    <h1 class="col text-center h3 mb-3 font-weight-normal">Registerasiya</h1>
    <div class="card text-white bg-primary mb-3" style="width:1000px height:800px">
      <div class="card-body login-card-body">
       
         <div class="form-label-group">
        <input asp-for="Fullname" type="text" id="inputName" class="form-control" placeholder="Fullname" required="" autofocus="true">
        <label class="text-muted" asp-for="Fullname" for="inputName"></label>
        <span asp-validation-for="Fullname" class="text-danger show"></span>
        </div>

        <div class="form-label-group">
        <input asp-for="Phone" type="tel" id="inputPhone" class="form-control" placeholder="Phone" required=""  autofocus="true">
        <label class="text-muted" asp-for="Phone" for="inputPhone"></label>
        <span asp-validation-for="Phone" class="text-danger"></span>
       </div>


        <div class="form-label-group">
        <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="true">
        <label class="text-muted" asp-for="Email" for="inputEmail"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
       </div>

        <div class="form-label-group">
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label class="text-muted" asp-for="Password" for="inputPassword"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-label-group">
        <input asp-for="ConfirmPassword" type="password" id="inputConfirmPassword"  class="form-control" placeholder="ConfirmPassword" required="">
        <label class="text-muted" asp-for="ConfirmPassword" for="inputConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="col text-center">
          <button class="btn btn-lg btn-success" type="submit">Registerasiya</button>
        </div>
      </div>
    </div>
  </div>
</form>
