<div class="content-wrapper bg-gray">
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-md-10 mx-auto">
            <div class="card card-gray-dark shadow-none">
              <div class="card-header">
                <h3 class="card-title text-gray">INVOYS YARATISH</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <!-- <form> -->
                <div class="card-body bg-dark">
                  <div class="row">
                    <div class=" col-md-6">
                      <div class="input-wrapper m-1">
                        <span class="text-gray ml-2 mt-3">DAN</span>
                        <div class="card-body d-flex align-items-center pt-1">
                          <i class="nav-icon fas fa-user-friends fa-3x text-gray-dark"></i>
                          <p class="ml-3 h2 text-gray">Jo'natuvchi nomi</p>
                        </div>
                      </div>
                    </div>
                    <div class=" col-md-6">
                      <div class="input-wrapper m-1">
                        <span class="text-gray ml-2 mt-3">GA</span>
                        <div class="card-body d-flex align-items-center pt-1">
                          <i class="nav-icon fas fa-user fa-3x text-gray-dark"></i>
                          <p class="ml-3 h2 text-gray">Oluvchi nomi</p>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                  <hr class="mx-auto bg-gray" style="width: 80%;"/>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <span class="text-gray ml-2 mt-3 d-block">INVOYS SANASI</span>
                      <input class="input-wrapper w-100 p-3 h4 datetimepicker-input" type="date"/>
                    </div>
                    <div class="col-md-6">
                      <span class="text-gray ml-2 mt-3 d-block">TO'LOV SANASI</span>
                      <input class="input-wrapper w-100 p-3 h4" type="date"/>
                    </div>
                  </div>
                  <hr class="mx-auto bg-gray" style="width: 80%;"/>

                  <div class="card input-wrapper" style="border-radius: 10px;">
                    <div class="card-header">
                      <h3 class="card-title text-gray">MAHSULOTLAR QO'SHISH</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                      <table class="table table-striped" id="items-table">
                        <thead>
                          <tr class="text-gray">
                            <th>NOMI</th>
                            <th>MIQDORI</th>
                            <th>NARXI</th>
                            <th>JAMI</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="w-25">
                              <input placeholder="Macbook Pro" type="text" class="item-input input-wrapper-noborder p-2 text-light" />
                            </td>
                            <td class="w-25">
                              <input placeholder="27" type="number" class="item-input w-75 input-wrapper-noborder p-2 text-light" />
                            </td>
                            <td class="w-25">
                              <input placeholder="1235" type="number" class="item-input w-75 input-wrapper-noborder p-2 text-light" />
                            </td>
                            <td class="w-25">
                              <h4 class="text-gray">$ 1253</h4>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <div class="row w-100">
                        <button id="add-item-row" class="d-none btn btn-secondary m-3 w-25 ml-auto" style="opacity: .5;">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>

                </div>
                <!-- /.card-body -->
  
                <div class="card-footer bg-dark">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              <!-- </form> -->
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>